{% if ha_role == 'ha_master' %}
  {% set role = 'MASTER' %}
  {% set priority = 100 %}
{% elif ha_role != 'ha_master' %}
  {% set role = 'BACKUP' %}
  {% set priority = 90 %}
{% endif %}
! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiservice.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ NIC }}
    virtual_router_id {{ keepalived_vr_id }}
    priority 90
    nopreempt
    authentication {
        auth_type PASS
        auth_pass k8sDanger0us
    }
    virtual_ipaddress {
        {{ virtual_ip }}/24
    }
    track_script {
        check_apiserver
    }
}